/*.substvars
/gstreamer1.0-rockchip-dbg
/gstreamer1.0-rockchip1.dirs
/gstreamer1.0-rockchip1
/files
/tmp
/source

/.debhelper
/debhelper-build-stamp
/.debhelper
/debhelper-build-stamp
/files
/linux-*/
/u-boot-*/
/*.debhelper.log
/*.*.debhelper
/*.substvars
/tmp
